.root {
    min-height: 100vh;
}

.no-token {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60vh;
    width: auto;
    border: 2px solid;
    border-radius: 15px;
    color: lightgrey;
}

.bar {
    border: 1px solid #666 5px;
    height: 20px;
    width: 100%;
}
.bar .in {
    animation: fill 30s linear 1;
    height: 100%;
    background-color: blue;
    border-radius:5px;
}
@keyframes fill {
    0% {
        width: 0%;
   }
    100% {
        width: 100%;
   }
}
#dexscreener-embed{
	position:relative;
	width:100%;
	padding-bottom:124%;
}
@media(min-width:1400px){
	#dexscreener-embed { padding-bottom:33%; }
}
#dexscreener-embed iframe{
position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	border:0;
}